{% extends 'master.html' %}
{% load static %}

{% block header %}
{% endblock %}


{% block content %} 


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>About CPGRAMS</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p>
            Centralised Public Grievance Redress and Monitoring System (CPGRAMS) is an online platform available to the citizens 24x7 to lodge their grievances 
            to the public authorities on any subject related to service delivery. It is a single portal connected to all the Ministries/Departments of Government 
            of India and States. Every Ministry and States have role-based access to this system. CPGRAMS is also accessible to the citizens through standalone mobile
             application downloadable through Google Play store and mobile application integrated with UMANG.
          </p>
          <p>
            The status of the grievance filed in CPGRAMS can be tracked with the unique registration ID provided at the time of registration of the complainant.
             CPGRAMS also provides appeal facility to the citizens if they are not satisfied with the resolution by the Grievance Officer. After closure of grievance 
             if the complainant is not satisfied with the resolution, he/she can provide feedback. If the rating is ‘Poor’ the option to file an appeal is enabled.
              The status of the Appeal can also be tracked by the petitioner with the grievance registration number.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> RTI Matters</li>
            <li><i class="ri-check-double-line"></i> Court related / Subjudice matters</li>
            <li><i class="ri-check-double-line"></i> Religious matters</li>
            <li><i class="ri-check-double-line"></i> Suggestions</li>
            <li><i class="ri-check-double-line"></i> Grievances of Government employees concerning their service matters including disciplinary proceedings etc. 
              unless the aggrieved employee has already exhausted the prescribed channels keeping in view the DoPT OM No. 11013/08/2013-Estt.(A-III) dated 31.08.2015</li>


          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
           <b> Note : </b>If you have not got a satifactory redress of your grievance within a reasonable period of time,relating to Ministries/Departments and Organisations under the purview
             of Directorate of Public Grievances(DPG), Cabinet Secretariat, GOI, you may seek help of DPG in resolution. Please click here for details.
          </p>
          <a href="{% url 'user:help' %}" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section>
  
  <!-- End About Us Section -->

 

  {% endblock %}    