{% extends 'master.html' %}
{% load static %}

{% block header %}
{% endblock %}


{% block content %} 

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'user:about' %}">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:contact' %}">Link</a>
        </li>
        
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>FAQ/help</b></h5>
      <p class="card-text">Frequently Asked Questions on Grievance Redress Mechanism in Government of India and the Role of Department of 
        Administrative Reforms and Public Grievance, New Delhi, therein</p>      
    </div>

    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">1. What are the contact details of the Department of Administrative Reforms and Public Grievances?</a></p>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">2. Where can the grievances be sent?</a></p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">3. How do I lodge the grievance?</a></p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">4. What happens when I lodge the grievance?</a></p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">5. How do I track my grievance?</a></p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href=""> 6. What happens to the grievances? How are the grievances dealt with in Central Ministries/Departments?</a></p>
        </div>
    </div>  <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href=""> 7. After redress, can the grievance be re-opened for further correspondence about it having been closed without details etc.?</a></p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">8. What are the contact details of the Nodal Officers of Public Grievances in Ministries/Departments?
        </a></p>
        </div>
    </div>    
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">9. What is the system of granting personal hearing on grievances?</a></p>
        </div>
    </div>     
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">10. What are the types of grievances which are not taken up for redress by the Department?</a></p>
        </div>
    </div>     
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">11. What is the role of Department of Administrative Reforms and Public Grievances (DARPG) with reference to the grievances concerning Central Ministries/Departments/ Organizations?</a></p>
        </div>
    </div>     
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">12. What is the role of Department of Administrative Reforms and Public Grievances (DARPG) with reference to the grievances concerning State Government?</a></p>
        </div>
    </div>    
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">13. What is the time limit for redress of grievance?</a></p>
        </div>
    </div>    
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">14. What action can be taken by me in case of non-redress of my grievance within the prescribed time?</a></p>
        </div>
    </div>   
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">15. What can a citizen do if he is not satisfied with the redressal of his grievance?</a></p>
        </div>
    </div>    
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">16. How to deactivate CPGRAMS account?</a></p>
        </div>
    </div>     
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">17. How to change the details of the Nodal Grievance Officer and Nodal Appellate Authority in the portal?</a></p>
        </div>
    </div>    
    <div class="card border-primary mb-3" style="max-width: 100rem;">       
        <div class="card-body text-primary">          
          <p class="card-text"><a href="">18. Whether the Department has operated any feedback call centre?</a></p>
        </div>
   </div>  
     
   


{% endblock %}    