{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign Up form</title>
    <link rel="stylesheet" href="{% static 'assets/css/Sign.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


</head>

<body>
    <div class="wrapper">
        <h2>Register Here!</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" id="name" name="u_name" placeholder="Enter your name" required>
                <span id="checkname" style="font-size: small"></span>
            </div>
            <div class="input-box">
                <input type="text" id="email" name="u_email" placeholder="Enter your email" required>
                <span id="checkmail" style="font-size: small"></span>
            </div>
            <div class="input-box">
                <input type="textfield" name="u_address" placeholder="Enter your address" required>
            </div>
            <div class="input-box">
                <input type="number" name="u_number" id="number" placeholder="Enter your number" required>
                <span id="checkno" style="font-size: small"></span>
            </div>
            <div class="input-box">
                <input type="password" name="u_password" id="password" placeholder="Create password" required>
                <span id="password" style="font-size: small;"></span>
                <span id="checkpass1" style="font-size: small"></span>
                <span id="checkpass2" style="font-size: small"></span>
                <span id="checkpass3" style="font-size: small"></span>

            </div>
            <br />


            <div class="input-box button">
                <input type="Submit" value="Register Now">
            </div>
            <div class="text">
                <h3>Already have an account? <a href="{% url 'user:login' %}">Login now</a></h3>
            </div>
        </form>
    </div>

    <script>

        var uname = document.getElementById('name')
        var uemail = document.getElementById('email')
        var number = document.getElementById('number')
        var Password = document.getElementById('password')

        uname.onkeyup = function () {
            var alphabets = /^[a-z A-Z]{2,}$/;
            if (uname.value.match(alphabets) == null) {
                document.getElementById('checkname').innerHTML = 'name must contain characters only'
                document.getElementById('checkname').style.color = 'red'
                uname.style.border = 'solid red'
            }
            else {
                document.getElementById('checkname').innerHTML = ''
                uname.style.border = 'solid green'

            }
        }
        uemail.onkeyup = function () {

            var email = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/g;
            if (uemail.value.match(email)) {

                document.getElementById('checkmail').style.color = 'green'
                uemail.style.border = 'solid green'
            }
            else {

                document.getElementById('checkmail').innerHTML = 'please enter a valid email'
                document.getElementById('checkmail').style.color = 'red'
                uemail.style.border = 'solid red'
            }

        }
        number.onkeyup = function () {
            var contact = /^[6-9][0-9]{9}$/;
            console.log(number.value.match(contact))
            if (number.value.match(contact) == null) {
                document.getElementById('checkno').innerHTML = 'Invalid number'
                document.getElementById('checkno').style.color = 'red'
                number.style.border = 'solid red'
            }
            else {
                document.getElementById('checkno').innerHTML = ''
                document.getElementById('checkno').style.color = 'green'
                number.style.border = 'solid green'
            }
        }
        Password.onkeyup = function () {
            var upper = /[A-Z]/g;
            var lower = /[a-z]/g;
            var numb = /[0-9]/g;
            if (Password.value.match(upper)) {
                document.getElementById('password').innerHTML = 'uppercase'
                document.getElementById('password').style.color = 'green'
            }
            else {
                document.getElementById('password').innerHTML = 'your password must be an a uppercase letter'
                document.getElementById('password').style.color = 'red'
            }
            if (Password.value.match(lower)) {
                document.getElementById('checkpass1').innerHTML = 'lowercase'
                document.getElementById('checkpass1').style.color = 'green'
            }
            else {
                document.getElementById('checkpass1').innerHTML = 'password must be an a lowercase letter'
                document.getElementById('checkpass1').style.color = 'red'
            }
            if (Password.value.match(numb)) {
                document.getElementById('checkpass2').innerHTML = 'digit'
                document.getElementById('checkpass2').style.color = 'green'
            }
            else {
                document.getElementById('checkpass2').innerHTML = 'your password must be a digit'
                document.getElementById('checkpass2').style.color = 'red'
            }
            if (Password.value.length >= 8) {
                document.getElementById('checkpass3').innerHTML = '8 characters'
                document.getElementById('checkpass3').style.color = 'green'

            }
            else {
                document.getElementById('checkpass3').innerHTML = 'your password must be 8 characters'
                document.getElementById('checkpass3').style.color = 'red'
            }


        }

    </script>

</body>

</html>